.favorites-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.your-favs {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blue {
  margin: 2em;
  color: #4277a8;
}
