.magic-8-ball {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  position: relative;
}

.magic-8-ball button {
  padding: 0.5em;
  font-size: 1em;
  border-radius: 4em;
  border: 1px solid #5894cd;
  background-color: #b6dcfe;
}

.magic-8-ball button:hover {
  border: 1px solid #b6dcfe;
  background-color: #5894cd;
  cursor: pointer;
}

.message {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
}

.message-container {
  position: absolute;
  top: 36%;
  /* border: 1px solid red; */
  width: 30%;
  height: 20%;
  z-index: 2;
  max-width: 200px;
  max-height: 200px;
  text-align: center;
}
