.logo-container {
  display: flex;
  height: 2.5em;
  background-color: #5894cd;
  align-items: center;
  justify-content: center;
}

.logo-img {
  height: 2em;
  width: auto;
}

h1 {
  font-size: 2em;
  color: white;
}
