.modal {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: white;
  color: black;
  font-size: 1.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1em;
}

.logo-container-modal {
  margin: 1em;
  display: flex;
  color: #4277a8;
}

.spinning-logo {
  margin: 1em;
  height: 2em;
  width: 2em;
}
