.modal {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: white;
  color: black;
  font-size: 1.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1em;
}

.loading-dots {
  height: 2em;
  width: auto;
}

.logo-container-modal {
  position: fixed;
  top: 10px;
  display: flex;
  color: #5894cd;
}
