header {
  display: flex;
  height: 4em;
  background-color: #4277a8;
  align-items: center;
  justify-content: space-around;
}

.logo {
  display: flex;
}

nav {
  display: flex;
}

.logo-img {
  height: 2em;
  width: 2em;
}

h1 {
  font-size: 2em;
  color: white;
}

.link {
  text-decoration: none;
}

.fav-page-fav-btn {
  margin-left: 1em;
}
