.img-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 1em;
  object-fit: cover;
  overflow: hidden;
}

.city-name {
  display: flex;
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 1em;
  left: 0;
  padding-left: 1em;
  padding: 0.5em;
}

.show {
  display: block;
  width: 100%;
  height: auto;
}

.mobile-img {
  display: block;
}

.web-img {
  display: none;
}

@media screen and (min-width: 900px) {
  .mobile-img {
    display: none;
  }

  .web-img {
    display: block;
    width: 100%;
    height: auto;
  }
}
